/* #region General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    height: 100vh;
    overflow: hidden;
}
main{
    height: 100%;
    overflow-y: auto;
}
/* #endregion General */

/* #region Utilities */
.debug{
    border: 2px dashed;
}

:root{
    --upgrade-bg: #080b12;
    --sidebar-bg: #000000;
    --content-bg: #141922;
    --bottom-bg: #282828;
    --sidebar-text: #707070;
    --sidebar-icons: #a3a3a3;

}

.container{
    width: 100%;
    height: calc(100% - 80px);
    /* margin-left: 245px; */
    background-color: red;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-2{
    width: calc(100% / 12 * 2);
    padding: 1rem;
}
/* #endregion Utilities */

/* #region Top */
#top{
    height: calc(100% - 80px);
    display: flex;
}

/* #region Sidebar */
#sidebar{
    width: 245px;
    /* height: calc(100% - 80px); */
    background-color: yellow;
}

#logo{
    width: 70%;
    padding: 1rem;
}

#logo-xs{
    display: none;
}

.menu-sidebar{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.icons-sidebar{
    width: 30px;
}

.choises{
    text-decoration: none;
    padding-left: 1rem;
}

.playlist{
    padding-left: 1.5rem;
    line-height: 2rem;
}

.name{
    text-decoration: none;
}
/* #endregion Sidebar */

/* #region Content */
#content{
    width: calc(100% - 245px);
    background-color: blue;
}


/* #region Upgrade */
#upgrade{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    height: 80px;
    padding-right: 2rem;
    /* margin-left: 245px; */
    background-color: green;
}
/* #endregion Upgrade */

/* #region Navigation */
.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2.40rem;
    /* row-gap: 3rem; */
}
/* #endregion Navigation */

/* #region Pics and Text */
.preview{
    text-align: center;
}

.title-section{
    padding: 3rem 1rem 1rem;
    h2{
        line-height: 3rem;
    }
}

.round-pics{
    border-radius: 50%;
}
/* #endregion Pics and Text */

/* #endregion Content */

/* #endregion Top */

/* #region Bottom */
#bottom{
    height: 80px;
    background-color: fuchsia;
}
/* #endregion Bottom */

/* #region Media Query */

/* #region Media md (700px) */
@media screen and (max-width: 700px){
    .col-3-md{
        width: calc(100% / 12 * 3);
    }

    .navigation{
        /* column-gap: ; */
        row-gap: 1rem;
    }
}
/* #endregion Media md (700px) */

/* #region Media s (600px) */
@media screen and (max-width: 600px){
    .col-6-s{
        width: 50%
    }
}
/* #endregion Media s (600px) */

/* #region Media xs (480px) */
@media screen and (max-width: 480px){
    #sidebar{
        width: 40px;
        /* height: 100%; */
        background-color: yellow;
    }
    
    #logo{
        display: none;
    }

    #logo-xs{
        display: block;
        width: 70%;
        margin: 0.25rem auto 1rem;
    }
    
    .menu-sidebar{
        display: flex;
        flex-direction: column;
        padding: 0.25rem;
        padding-bottom: 1rem;
    }

    .choises{
        display: none;
    }
    
    /* .icons-sidebar{
        width: 150%;
    } */
    
    .playlist{
        display: none;
    }
}
/* #endregion Media xs (480px) */




/* #endregion Media Query */


